<a href="#!/clients">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Client</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <form ng-submit="addClient()">
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" ng-model="client.email" placeholder="Email">
            </div>
            <div class="form-group">
              <label>Phone</label>
              <input type="text" class="form-control" ng-model="client.phone" placeholder="Phone">
            </div>
            <div class="form-group">
              <label>Form 3 Name</label>
              <input type="text" class="form-control" ng-model="client.form3name" placeholder="form3name">
            </div>
            <div class="form-group">
              <label>Form 3 Value</label>
              <input type="text" class="form-control" ng-model="client.form3value" placeholder="form3value">
            </div>
            <div class="form-group">
              <label>Form 4 Name</label>
              <input type="text" class="form-control" ng-model="client.form4name" placeholder="form4name">
            </div>
            <div class="form-group">
              <label>Form 4 Value</label>
              <input type="text" class="form-control" ng-model="client.form4value" placeholder="form4value">
            </div>
            <div class="form-group">
              <label>Form 5 Name</label>
              <input type="text" class="form-control" ng-model="client.form5name" placeholder="form5name">
            </div>
            <div class="form-group">
              <label>Form 5 Value</label>
              <input type="text" class="form-control" ng-model="client.form5value" placeholder="form5value">
            </div>
            <div class="form-group">
              <label>Form 6 Name</label>
              <input type="text" class="form-control" ng-model="client.form6name" placeholder="form6name">
            </div>
            <div class="form-group">
              <label>Form 6 Value</label>
              <input type="text" class="form-control" ng-model="client.form6value" placeholder="form6value">
            </div>
            <div class="form-group">
              <label>Form 7 Name</label>
              <input type="text" class="form-control" ng-model="client.form7name" placeholder="form7name">
            </div>
            <div class="form-group">
              <label>Form 7 Value</label>
              <input type="text" class="form-control" ng-model="client.form7value" placeholder="form7value">
            </div>
            <div class="form-group">
              <label>Form 8 Name</label>
              <input type="text" class="form-control" ng-model="client.form8name" placeholder="form8name">
            </div>
            <div class="form-group">
              <label>Form 8 Value</label>
              <input type="text" class="form-control" ng-model="client.form8value" placeholder="form8value">
            </div>
            <div class="form-group">
              <label>Form 9 Name</label>
              <input type="text" class="form-control" ng-model="client.form9name" placeholder="form9name">
            </div>
            <div class="form-group">
              <label>Form 9 Value</label>
              <input type="text" class="form-control" ng-model="client.form9value" placeholder="form9value">
            </div>
            <div class="form-group">
              <label>Form 10 Name</label>
              <input type="text" class="form-control" ng-model="client.form10name" placeholder="form10name">
            </div>
            <div class="form-group">
              <label>Form 10 Value</label>
              <input type="text" class="form-control" ng-model="client.form10value" placeholder="form10value">
            </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
